.greeting{
  margin-bottom: 20px;
}
.greeting__link{
  text-decoration: underline;
}

.prototype__hedding{
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
.prototype__user{
  display: block;
  font-size: 16px;
  color: #999;
  text-align: center;
  text-decoration: underline;
}
.prototype__image{
  width: 40%;
  margin: 0 auto;
  padding: 16px 0;
}
.prototype__detail{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 8px;
}
.detail__title{
  font-size: 20px;
  font-weight: bold;
}
.prototype__manage{
  display: flex;
  justify-content: center;
  padding-top: 16px;
}
.prototype__btn{
  display: block;
  padding: 0.4em 1.6em;
  font-size: 0.4em;
  color: #999;
  text-decoration: none;
  user-select: none;
  border: 1px #999 solid;
  border-radius: 3px;
  transition: 0.4s ease;
  margin: 0 4px;
}
.prototype__btn:hover{
  color: #fff;
  background: #999;
}

.prototype__comments{
  background-color: #f6f6f6;
  padding: 20px;
  margin: 28px 0 40px 0;
}

.comments_lists{
  padding-left: 20px;
}

.comments_list{
  list-style-type: square;
  padding-bottom: 5px;
}

.comment_user{
  font-size: 16px;
  color: #999;
  text-decoration: underline;
}
.nav__btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #D3A98A;
  text-decoration: none;
  user-select: none;
  border: 1px #D3A98A solid;
  border-radius: 3px;
  transition: 0.4s ease;
}
.nav__btn:hover{
  color: #fff;
  background: #c40101;
}

.nav__logout{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #87CEFA;
  text-decoration: none;
  user-select: none;
}
.nav__logout:hover{
  opacity: 0.5;
}

.form__btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #fff;
  text-decoration: none;
  user-select: none;
  background: #87CEFA;
  border: 1px #87CEFA solid;
  border-radius: 3px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  transition: 0.2s ease;
}

.form__btn:hover {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
}
  .search-btn {
    background-color: #000;
    color: #888;
  }

  .search-btn:hover {
    background-color: red !important;
  }
  html, body {
    height: 100%;
    margin: 0;
  }
  
  .page-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .blog-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px; 
  }
  
  .blog-item {
    width: 100%; 
    border: 2px solid #000;
    padding: 10px;
    margin: 10px 0; 
    text-align: center;
  }
  
  .label {
    font-weight: bold;
  }
  
  .content {
    margin-top: 5px; 
  }
  .label.highlight {
    font-weight: bold;
    font-size: 18px;
    color: #FF0000; 
    border-bottom: 1px solid #000000; 
  }
  footer {
  width: 100%;
  color: #ffffff;
  text-align: center;
  padding: 100px 0;
  position: fixed;
  bottom: 0;
  left: 0;
  margin-top: 20px; 
}

  
  
  
  